* {
    margin: 0;
    padding: 0;
}
/* Header */
.header {
    text-align: center;
    margin: 3rem;

}
.title {
    padding: 1.7rem;

}
.title > h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
.nav-button {
   display: flex;
   justify-content: space-between; 
   padding-left: 25rem;
   padding-right: 25rem;
  
}
.nav-button > .boton {
    padding: 0.7rem;
    border: none;
    background-color: white;
    color: gray;
    font-style: italic;
}
.nav-button > .boton:nth-child(1) {
    background-color: rgb(218, 20, 86);
    color: white;
    border-radius: 0.35rem ;
}
/*parte 1 */
.parte1 {
    background-image: url(./image/image_general/pic01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12%; 
    display: flex;
    justify-content: center;
}
.wrapper-parte1 {
   background-color: black;
   width: 40%;
   padding: 2rem 
   
   
}
.text1-part1 {
    color:white;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.text2-part1 {
    color:rgb(218, 20, 86);
    text-align: center;
    font-size: 1.2rem;
    
}

/* parte 2 */
.parte2 {
    text-align: center;
}
.wrapper-image-parte2 {
    display: flex;
    /* margin: 0.3rem; */
    /* padding: 4rem; */
    padding-left: 10rem;
   padding-right: 10rem;
}
.setting {
    width: 30%;
    padding: 2rem; 
}
.wrapper-button-parte2 > button {
    color: white;
    padding: 0.6rem 2.5rem;
    margin: 0.4rem;
    background-color: black;
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.wrapper-button-parte2 > button:nth-child(1) {
    background-color: rgb(218, 20, 86);
}

.text-part2 {
    width: 90%;
    text-align: center;
    padding-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

/* parte 3 */
.parte3{
    background-color: rgb(235, 222, 222);
    text-align: left;  
}
.wapper-parte3 {
    margin: 4rem;
}
.wrapper-porfolio-title {
    text-align: center;
}
span{
    color: rgb(165, 155, 155);
}
.wrapper-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 2rem 5rem;
}

.img-portfolio img {
    width: 100%;
    padding-bottom: 2rem;
}

.texto-portfolio h5 {
    max-width: 19rem;
    padding: 0rem 2rem 1.7rem 1.9rem;
    font-size: 1.2rem;
}

.texto-portfolio p {
    max-width: 15rem;
    padding: 0rem 2rem 1.7rem 1.9rem;
    color: grey;
}

.wrapper-portfolio-image-text-parte3 button {
    color: white;
    padding: 0.6rem 1.8rem;
    background-color: black;
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-top: 0.2rem ;
    margin-bottom: 2rem;
    text-align: left;
}

.button-parte3 {
    margin-left: 2rem;
    
}
.wrapper-portfolio-image-text-parte3 {
    background-color: white;
    max-width: 20rem;
    height: 97%;
}

/* parte 4 */

.wrapper-blog-title {
    text-align: center;
    margin-bottom: 2rem
} 
.wrapper-blog-general {
    display: flex;
    justify-content: center;
    margin: 0rem 5rem;
}

.wrapper-blog-parte3{
    width: 45%;
}
.wrapper-blog-image-text {
   width: 90%;
   background-color: white;

}

.wrapper-blog-image-text h5, span, p {
   width: 28rem;
   line-height: 1.2rem;

}

.wrapper-blog-image-text h5{
    padding:  1rem 1rem 0.5rem 1rem;
    font-size: 1rem;
}

.posted-blog{
    padding: 0rem 1rem 0rem 1rem;
    font-size: 0.8rem;
}

.wrapper-blog-image-text p {
    width: 94%;
    padding: 1.5rem 2.5rem 1.2rem 1rem;
    font-size: 0.9rem;
    color: dimgrey;
}


.wrapper-blog-image-text img {
    width: 100%;
}


.boton-blog{
    margin-left: 2rem; 
}

.boton-blog2 {
    color: white;
    padding: 0.6rem 1.7rem;
    margin: 0.6rem;
    background-color: black;
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-bottom: 2rem;

}
.boton-blog1 {
    color: white;
    padding: 0.6rem 1.7rem;
    margin: 0.6rem;
    background-color: rgb(218, 20, 86);
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}
/* Footer */
/* Parte 1 */

.footer-general {
    background-color: black;
    padding-left: 10rem;
}

.footer-parte-titulo{
    color:white;
    margin: 1.7rem 3rem;
}

.footer-parte-titulo h2 {
    padding-top: 2rem;
}
.footer-parte1-img{
    background-color: rgb(218, 20, 86);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 72% 100%, 0 100%);
    width: 3%;
    padding: 0.25rem 1rem;
}

.footer-parte1-img p {
    text-align: left;
    width: 30%;
    color: white;
}

.footer-parte1-contenido{
    display: flex;
    gap: 2rem;
    margin: 1.7rem 3rem;
}

.footer-parte1-texto h5{
    font-size: 0.85rem;
    color:white;
}
.footer-parte1-texto p{
    color: dimgrey;
    font-size: 0.8rem;
}

/* Parte 2 */

.footer-container{
    display: flex;
}
.footer-parte2-texto p{
    color: dimgrey;
    font-size: 0.8rem;
    padding-top: 1.2rem;
    width: 52%;
    padding-bottom: 2rem;
}
.footer-parte2-texto button{
    color: white;
    padding: 0.6rem 1.8rem;
    background-color:rgb(218, 20, 86);
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-top: 0.2rem ;
    margin-bottom: 2rem;
    text-align: left;
}

/* Parte 3 - 4 - 5 */


.footer-container2{
    display: flex;
    gap: 2rem;
}

/* Parte 3 - 4 */

.footer-parte-contenido {
    display: flex;
    flex-direction: column;
    line-height: 2.3rem;
}

.footer-parte-contenido a {
    color: dimgrey;
    font-size: 0.8rem;
    padding-left: 2.6rem;
}



/* Parte 5 */

.footer-parte5-iconos{
    display: flex;
    gap: 0.75rem;
    padding-left: 3rem;
}

#facebook, #linkedin{
    color: grey;
}

#twitter {
    color: #00acee;
}

#dribble {
    color:rgb(218, 20, 86);
}

#tumblr{
    color: darkblue;
}

.footer-parte5-direction{
    display: flex;
    gap: 2rem;
    margin: 1.5rem;
    padding-left: 1.2rem; 
    width: 55%;
}

.address {
    color:white;
}

.address-text{
    color:dimgrey;
    font-size: 0.75rem;
    line-height: 1.2rem;
    width: 35%;
}


.address-text1{
    color:dimgrey;
    font-size: 0.75rem;
    padding-left: 1.5rem;
   
}

.address-text2{
    color:dimgrey;
    font-size: 0.75rem;
    padding-left: 1rem;
    
}