* {
    margin: 0;
    padding: 0;
}
/* Header */
.header {
    text-align: center;
    margin: 3rem;

}
.title {
    padding: 1.7rem;

}
.title > h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
.nav-button {
    display: flex;
   justify-content: space-between; 
   padding-left: 25rem;
   padding-right: 25rem;
  
}
.nav-button > .boton {
    padding: 0.7rem;
    border: none;
    background-color: white;
    color: gray;
    font-style: italic;
}
.nav-button > .boton:nth-child(1) {
    background-color: rgb(218, 20, 86);
    color: white;
    border-radius: 0.35rem ;
}
/*parte 1 */
.parte1 {
    background-image: url(./image/image_general/pic01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12%; 
    display: flex;
    justify-content: center;
}
.wrapper-parte1 {
   background-color: black;
   width: 40%;
   padding: 2rem 
   
   
}
.text1-part1 {
    color:white;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.text2-part1 {
    color:rgb(218, 20, 86);
    text-align: center;
    font-size: 1.2rem;
    
}

/* parte 2 */
.parte2 {
    text-align: center;
}
.wrapper-image-parte2 {
    display: flex;
    margin: 0.3rem;
    /* padding: 4rem; */
    padding-left: 10rem;
   padding-right: 10rem;
}
.setting {
    width: 30%;
    padding: 5rem; 
}
wrapper-button-parte2 {
    

}