* {
    margin: 0;
    padding: 0;
}
/* Header */
.header {
    text-align: center;
    margin: 3rem;

}
.title {
    padding: 1.7rem;

}
.title > h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
.nav-button {
   display: flex;
   justify-content: space-between; 
   padding-left: 25rem;
   padding-right: 25rem;
  
}
.nav-button > .boton {
    padding: 0.7rem;
    border: none;
    background-color: white;
    color: gray;
    font-style: italic;
}
.nav-button > .boton:nth-child(1) {
    background-color: rgb(218, 20, 86);
    color: white;
    border-radius: 0.35rem ;
}
/*parte 1 */
.parte1 {
    background-image: url(./image/image_general/pic01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 12%; 
    display: flex;
    justify-content: center;
}
.wrapper-parte1 {
   background-color: black;
   width: 40%;
   padding: 2rem 
   
   
}
.text1-part1 {
    color:white;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.text2-part1 {
    color:rgb(218, 20, 86);
    text-align: center;
    font-size: 1.2rem;
    
}

/* parte 2 */
.parte2 {
    text-align: center;
}
.wrapper-image-parte2 {
    display: flex;
    /* margin: 0.3rem; */
    /* padding: 4rem; */
    padding-left: 10rem;
   padding-right: 10rem;
}
.setting {
    width: 30%;
    padding: 2rem; 
}
.wrapper-button-parte2 > button {
    color: white;
    padding: 0.6rem 2.5rem;
    margin: 0.4rem;
    background-color: black;
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.wrapper-button-parte2 > button:nth-child(1) {
    background-color: rgb(218, 20, 86);
}

/* parte 3 */
.parte3{
    background-color: rgb(235, 222, 222);
    text-align: left;  
}
.wapper-parte3 {
    margin: 4rem;
}
.wrapper-porfolio-title {
    text-align: center;
}
.wrapper-porfolio-title  span{
    color: rgb(165, 155, 155);
}
.wrapper-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 2rem 5rem;
}

.img-portfolio img {
    width: 100%;
    padding-bottom: 2rem;
}


.texto-portfolio h5 {
    max-width: 19rem;
    padding: 0rem 2rem 1.7rem 1.9rem;
    font-size: 1.2rem;
}

.texto-portfolio p {
    max-width: 15rem;
    padding: 0rem 2rem 1.7rem 1.9rem;
    color: grey;
}

.wrapper-portfolio-image-text-parte3 button {
    color: white;
    padding: 0.6rem 1.8rem;
    background-color: black;
    border: none;
    border-radius: 0.3rem;
    font-weight: bolder;
    margin-top: 0.2rem ;
    margin-bottom: 2rem;
    text-align: left;
}

.button-parte3 {
    margin-left: 2rem;
    
}
.wrapper-portfolio-image-text-parte3 {
    background-color: white;
    max-width: 20rem;
    height: 97%;
}